<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes Making</title>
    <link rel="stylesheet" href="/styles/style.css">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900">
        <div class="form px-10 py-10 text-white">
            <form action="/create" method="POST">
                <input type="text" class="block px-5 mt-2 py-2 bg-zinc-800 w-full rounded-md outline-none" name="title" placeholder="Title of your notes" id="">
                <textarea name="txt" class="block px-5 mt-2 py-2 bg-zinc-800 w-full rounded-md outline-none resize-none" placeholder="write your think" id=""></textarea>
                <input type="submit" class="bg-blue-600 mt-2 px-5 py-2 rounded-md" value="Submit">
            </form>
        </div>

        <div class="tasks p-10 flex gap-3 flex-wrap text-white">

            <% if(files.length >0){ %>
            <% files.forEach((val)=>{%>
                <div class="task w-72 px-3 py4 rounder-md bg-zinc-800">
                    <h1 class="text-3xl tracking-tighter"><%= val %></h1>
                    <div class="w-full flex justify-between items-center">
                        <a href='/files/<%= val %>' class="text-blue-500 inline-block">Read more</a>
                        <a href="/edit/<%=val%>" class="zinc-600">edit</a>

                    </div>
                </div>
                <%
            }) %>
            <% }else { %>
            <h3 class="text-zinc-600">No Task yet...</h3>
                <% } %>

            

        </div>
    </div>
</body>
</html>